<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <br>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.locacaoProduto.produto" for="field_produto">Produto</label>
                    <select class="form-control" id="field_produto" name="produto" [(ngModel)]="locacaoProduto.produtoId" (change)="fireProduto($event)">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="produtoOption.id" *ngFor="let produtoOption of produtos | orderBy:'descricao'; trackBy: trackProdutoById">{{produtoOption.descricao}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.locacaoProduto.valorUnitario" for="field_valorUnitario">Valor Unitario</label>
                    <input type="text" class="form-control" name="valorUnitario" id="field_valorUnitario"
                           currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left' }"
                            [(ngModel)]="locacaoProduto.valorUnitario" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.locacaoProduto.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="locacaoProduto.clienteId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes | orderBy:'nome'; trackBy: trackClienteById">{{clienteOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="close($event)">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="addProduto($event)">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.add">Add</span>
                </button>
            </div>
            <br>
        </form>
    </div>
</div>
