<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locacao">
            <h2><span jhiTranslate="ducarmolocacoesApp.locacao.detail.title">Locacao</span> {{locacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorTotal">Valor Total</span></dt>
                <dd>
                    <span>{{locacao.valorTotal}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorSinal">Valor Sinal</span></dt>
                <dd>
                    <span>{{locacao.valorSinal}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorAdiantado">Valor Adiantado</span></dt>
                <dd>
                    <span>{{locacao.valorAdiantado}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorSaldo">Valor Saldo</span></dt>
                <dd>
                    <span>{{locacao.valorSaldo}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataContratacao">Data Contratacao</span></dt>
                <dd>
                    <span>{{locacao.dataContratacao}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEvento">Data Evento</span></dt>
                <dd>
                    <span>{{locacao.dataEvento}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataDevPrev">Data Dev Prev</span></dt>
                <dd>
                    <span>{{locacao.dataDevPrev}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataDevReal">Data Dev Real</span></dt>
                <dd>
                    <span>{{locacao.dataDevReal}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEntrPrev">Data Entr Prev</span></dt>
                <dd>
                    <span>{{locacao.dataEntrPrev}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEntrReal">Data Entr Real</span></dt>
                <dd>
                    <span>{{locacao.dataEntrReal}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.situacao">Situacao</span></dt>
                <dd>
                    <span>{{locacao.situacao}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.htmlContrato">Html Contrato</span></dt>
                <dd>
                    <span>{{locacao.htmlContrato}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="locacao.clienteId">
                        <a [routerLink]="['/cliente', locacao.clienteId, 'view']">{{locacao.clienteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.tipoEvento">Tipo Evento</span></dt>
                <dd>
                    <div *ngIf="locacao.tipoEventoId">
                        <a [routerLink]="['/tipo-evento', locacao.tipoEventoId, 'view']">{{locacao.tipoEventoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/locacao', locacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
