<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locacao">
            <h2><span jhiTranslate="ducarmolocacoesApp.locacao.detail.title">Locacao</span> {{locacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.id">ID</span></dt>
                <dd>
                    <span>{{locacao.id}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.situacao">Situacao</span></dt>
                <dd>
                    <span>{{locacao.situacao | locacaoSituacaoStrPipe}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="locacao.clienteId">
                        <a [routerLink]="['/cliente', locacao.clienteId, 'view']">{{locacao.cliente.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.tipoEvento">Tipo Evento</span></dt>
                <dd>
                    <div *ngIf="locacao.tipoEventoId">
                        <a [routerLink]="['/tipo-evento', locacao.tipoEventoId, 'view']">{{locacao.tipoEvento.descricao}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataContratacao">Data Contratacao</span></dt>
                <dd>
                    <span>{{locacao.dataContratacao | date:'short'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEvento">Data Evento</span></dt>
                <dd>
                    <span>{{locacao.dataEvento | date:'shortDate'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEntrPrev">Data Entr Prev</span></dt>
                <dd>
                    <span>{{locacao.dataEntrPrev | date:'shortDate'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataEntrReal">Data Entr Real</span></dt>
                <dd>
                    <span>{{locacao.dataEntrReal | date:'short'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataDevPrev">Data Dev Prev</span></dt>
                <dd>
                    <span>{{locacao.dataDevPrev | date:'shortDate'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.dataDevReal">Data Dev Real</span></dt>
                <dd>
                    <span>{{locacao.dataDevReal | date:'short'}}</span>
                </dd>

                <div class="table-responsive" *ngIf="locacao.produtos">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="ducarmolocacoesApp.locacaoProduto.produto">Produto</span></th>
                            <th><span jhiTranslate="ducarmolocacoesApp.locacaoProduto.valorTotal">Valor Total</span></th>
                            <th><span jhiTranslate="ducarmolocacoesApp.locacaoProduto.cliente">Cliente</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let locacaoProduto of locacao.produtos | orderBy: 'produto.descricao';trackBy: trackId">
                            <td>
                                <div *ngIf="locacaoProduto.produtoId">
                                    {{locacaoProduto.produto.descricao}}
                                </div>
                            </td>
                            <td>{{locacaoProduto.valorTotal | currency : '$'}}</td>
                            <td>
                                <div *ngIf="locacaoProduto.clienteId">
                                    {{locacaoProduto.cliente.nome}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorTotal">Valor Total</span></dt>
                <dd>
                    <span>{{locacao.valorTotal | currency : '$'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorSinal">Valor Sinal</span></dt>
                <dd>
                    <span>{{locacao.valorSinal | currency : '$'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorAdiantado">Valor Adiantado</span></dt>
                <dd>
                    <span>{{locacao.valorAdiantado | currency : '$'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.locacao.valorSaldo">Valor Saldo</span></dt>
                <dd>
                    <span>{{locacao.valorSaldo | currency : '$'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/locacao', locacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
