<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produto">
            <h2><span jhiTranslate="ducarmolocacoesApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ducarmolocacoesApp.produto.descricao">Descricao</span></dt>
                <dd>
                    <span>{{produto.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.produto.precoCompra">Preco Compra</span></dt>
                <dd>
                    <span>{{produto.precoCompra | currency : '$'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.produto.precoVenda">Preco Venda</span></dt>
                <dd>
                    <span>{{produto.precoVenda | currency : '$'}}</span>
                </dd>
                <dt><span jhiTranslate="ducarmolocacoesApp.produto.ativo">Ativo</span></dt>
                <dd>
                    <span>{{produto.ativo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produto', produto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
