<div>
    <h2 id="page-heading">
        <span jhiTranslate="ducarmolocacoesApp.cliente.home.title">Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ducarmolocacoesApp.cliente.home.createLabel">
            Create new Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ducarmolocacoesApp.cliente.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="ducarmolocacoesApp.cliente.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nascimento"><span jhiTranslate="ducarmolocacoesApp.cliente.nascimento">Nascimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cpf"><span jhiTranslate="ducarmolocacoesApp.cliente.cpf">Cpf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rg"><span jhiTranslate="ducarmolocacoesApp.cliente.rg">Rg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefoneResidencial"><span jhiTranslate="ducarmolocacoesApp.cliente.telefoneResidencial">Telefone Residencial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefoneCelular"><span jhiTranslate="ducarmolocacoesApp.cliente.telefoneCelular">Telefone Celular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefoneRecado"><span jhiTranslate="ducarmolocacoesApp.cliente.telefoneRecado">Telefone Recado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endereco"><span jhiTranslate="ducarmolocacoesApp.cliente.endereco">Endereco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                <td><a [routerLink]="['/cliente', cliente.id, 'view' ]">{{cliente.id}}</a></td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.nascimento | date:'mediumDate'}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.rg}}</td>
                <td>{{cliente.telefoneResidencial}}</td>
                <td>{{cliente.telefoneCelular}}</td>
                <td>{{cliente.telefoneRecado}}</td>
                <td>{{cliente.endereco}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cliente/'+ cliente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
