<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="ducarmolocacoesApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cliente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cliente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="cliente.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.nascimento" for="field_nascimento">Nascimento</label>
                    <div class="input-group">
                        <input id="field_nascimento" type="text" class="form-control" name="nascimento" ngbDatepicker  #nascimentoDp="ngbDatepicker" [(ngModel)]="cliente.nascimento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="nascimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="cliente.cpf" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.rg" for="field_rg">Rg</label>
                    <input type="text" class="form-control" name="rg" id="field_rg"
                        [(ngModel)]="cliente.rg" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.telefoneResidencial" for="field_telefoneResidencial">Telefone Residencial</label>
                    <input type="text" class="form-control" name="telefoneResidencial" id="field_telefoneResidencial"
                        [(ngModel)]="cliente.telefoneResidencial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.telefoneCelular" for="field_telefoneCelular">Telefone Celular</label>
                    <input type="text" class="form-control" name="telefoneCelular" id="field_telefoneCelular"
                        [(ngModel)]="cliente.telefoneCelular" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.telefoneRecado" for="field_telefoneRecado">Telefone Recado</label>
                    <input type="text" class="form-control" name="telefoneRecado" id="field_telefoneRecado"
                        [(ngModel)]="cliente.telefoneRecado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ducarmolocacoesApp.cliente.endereco" for="field_endereco">Endereco</label>
                    <input type="text" class="form-control" name="endereco" id="field_endereco"
                        [(ngModel)]="cliente.endereco" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
